<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958678913675-sdi2ir0gc88tv5rqmcn6rvr7294jhmpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958678913675-sdi2ir0gc88tv5rqmcn6rvr7294jhmpf</string>
	<key>API_KEY</key>
	<string>AIzaSyC5QoQKfKEfvbDVhzxojH62MDqH6UZv_4o</string>
	<key>GCM_SENDER_ID</key>
	<string>958678913675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jerry.SeSac-FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>winninghabit-92403</string>
	<key>STORAGE_BUCKET</key>
	<string>winninghabit-92403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958678913675:ios:6c1b327b4c04cdb645ba8e</string>
</dict>
</plist>